{
    "env": { "browser": true },
    "extends": ["airbnb/base", "prettier"],
    "rules": {
        "no-bitwise": [2, { "allow": ["~"] }],
        "no-param-reassign": [0],
        "no-use-before-define": [2, { "functions": false }]
    }
}
